# ======================
# 🐍 Python
# ======================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# ⚛️ Node.js / Next.js
# ======================
frontend/node_modules/
.next/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# ⚙️ Environment & Config
# ======================
*.env
*.env.local
.env.development
.env.production
.env.test

# ======================
# 🍏 macOS
# ======================
.DS_Store
.AppleDouble
.LSOverride

# ======================
# 🧰 Misc
# ======================
.idea/
.vscode/
*.swp
